<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--关键字-->
    <add key="words" value="国泰金业,香港黄金交易平台,香港黄金公司,黄金交易平台,金业,国泰投资,黄金投资交易平台,伦敦金交易网,香港黄金贸易,黄金平台,伦敦金交易平台,香港贵金属交易平台,国泰,代理贵金属平台,
         黄金开户,黄金代理,黄金买卖,香港贵金属,伦敦金,现货黄金代理"/>
    <!--每次请求时间间隔(秒)-->
    <add key="eachRequestInternal" value="300,600"/>
    <!--线程数-->
    <add key="threadCount" value="7"/>
  </appSettings>
</configuration>